<p id="notice"><%= notice %></p>

<div class="well">
  <h1><strong><%= @product.name %></strong></h1>
  <p><%= image_tag @product.image.url(:medium) %></p>
  <p>Price: <%= number_to_currency @product.price %></p>
  <p>Quantity: <%= @product.quantity %></p>
  <p>Category: <%= link_to @product.category.name, @product.category %></p>
  <p>Tag: <%= @product.tag %></p>
  <p><%= @product.description %></p>
</div>

<% if current_user.admin %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
<% end %>
